#sN_menu {
  position: fixed;
  top: 8px;
  left: 0;
  float: left;
  height: 174px;
  margin: 0;
  padding-left: 2px;
  width: 40px;
  overflow: hidden;
  background: rgba(245, 245, 245, 0.95);
  /*background: #f1f1f1;*/
  border: 1px solid #d1d1d1;
  border-left: none;
  font-family: 'Arial', sans-serif;
  z-index: 9999;
  display: block;
  padding-top: 3px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

#sN_menu > .sN_button {
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
  margin: 7px 10px;
  padding: 0;
  float: left;
  border: none;
  background: transparent url('http://sitations.com/img/actions_sprite.png') no-repeat;
  cursor: pointer;
}
#sN_menu > #sN_button > span {
  display: none
}


#sN_menu > #sN_add       { background-position: -20px 0; }
#sN_menu > #sN_add:hover { background-position: 0 0; }

#sN_menu > #sN_toggle       { background-position: -20px -20px; }
#sN_menu > #sN_toggle:hover { background-position: 0 -20px; }

#sN_menu > #sN_present       { background-position: -20px -40px; }
#sN_menu > #sN_present:hover { background-position: 0 -40px; }

#sN_menu > #sN_share       { background-position: -20px -60px; }
#sN_menu > #sN_share:hover { background-position: 0 -60px; }

#sN_menu > #sN_clear       { background-position: -20px -80px; }
#sN_menu > #sN_clear:hover { background-position: 0 -80px; }


#sN_sidebar_wrap {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 8px;
}

#sN_side_count {
  float: left;
  width: 29px; 
  text-align: center;
  overflow: hidden;
  color: #fff;
  background: rgba(245, 245, 245, 0.95);
  /*background: #f1f1f1;*/
  border: 1px solid #d1d1d1;
  border-right: none;
  font-family: 'Arial', sans-serif;
  z-index: 9999;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#sN_side_count.sN_has_citations {
  background: rgba(186,34,36, 0.9);
  border-color: #9c1315;
  cursor: pointer;
}

#sN_side_count.sN_side_closer {
  background: rgba(156,166,166, 0.9);
  border-color: #6f7878;
}


#sN_sidebar {
    width: 220px;
    /*background: rgba(15, 15, 15, 0.95);*/
    background: rgba(245, 245, 245, 0.95);
    /*background: #f1f1f1;*/
    border: 1px solid #d1d1d1;
    border-right: none;
    margin: 0 0 0 30px;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
}


#sN_sidebar > li,
#sN_sidebar > li.inactive {
    list-style: none;
    font-size: 11px;
    display: block;
    float: left;
    color: #333;
    width: 145px;
    min-height: 15px;
    font-weight: normal;
    position: relative;
    margin: 0 0 0 0;
    padding: 15px 25px 15px 50px;
    text-align: left;
    cursor: move;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #d9d9d9;
}

#sN_sidebar > li > .sN_num {
    display: block;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    color: #000;
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    top: 16px;
    line-height: 1;
    left: 20px;
}

.sN_pins_hidden .sN_pin_cushion {
  display: none !important;
}

.sN_all_hidden .sN_pin_cushion, 
.sN_all_hidden #sN_sidebar_wrap, 
.sN_all_hidden #sN_menu{
  display: none !important;
}

.sN_pin_cushion {
  position: absolute;
  z-index: 9995;
}
.sN_pin {
  height: 17px;
  width: 17px;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(212,71,0)),
    color-stop(1, rgb(194,0,0))
  );
  background: -moz-linear-gradient(
    center top,
    rgb(212,71,0) 0%,
    rgb(194,0,0) 100%
  );
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px 0px #555;
  /*border: 2px solid #e4e4e4;*/
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.sN_pin span {
  font-size: 11px;
  height: 11px;
  width: 17px;
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  color: white;
  float: left;
  margin: 0 0 0 0;
  padding: 3px 0;
  line-height: 1;
  font-family: "Helvetica","Arial", sans-serif;
}

.sN_annotation {
  -webkit-border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
  font-family: sans-serif;
  font-size: 12px;
  color: #CCCCCC;
  width: 18em;
  margin: -10px 25px;
  padding: 10px;
  background-color: rgba(0,0,0,0.65);
}

.sN_annotation > textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #999999;
  color: #CCCCCC;
  font-family: sans-serif;
  width:100%;
}
.sN_delete {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius:  0 3px 3px 0;
  border-radius:  0 3px 3px 0;
  background-color: inherit;
  padding: 5px 9px 5px 0;
  position: absolute;
  right: 10px;
  top: -10px;
  width: 6px;
}
.sN_delete_annotation {
  cursor: pointer;
}
.sN_pin_cushion .sN_button {
    padding: 3px 12px 4px 12px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border:none;
    width: 96px;
    text-align: center;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(43,135,184)),
      color-stop(1, rgb(0,111,166))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(43,135,184) 0%,
        rgb(0,111,166) 100%
    );
    border-top: 1px solid #60a5cb;
}

.sN_hidden {
  display: none !important;
}
.sN_save_wrap {
  padding-top: 5px;
  text-align: center;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
