<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- META -->
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<title>Siteations: Make Notes on Live Webpages</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/pretty.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#helpLink').toggle(function ()
		{
			$('#installation_instructions').slideDown('fast');
		}, function () {
			$('#installation_instructions').slideUp('fast');
		});
		
		var getLatest = function(){
		  $.ajax({
  			url: 'http://sitations.com/latest/',
  			dataType: 'json',
  			success: function (data)
  			{
  			  $('ul#siteationsFeed').html('');
  			  
  				$.each(data.latest, 
  					function (i, note)
  					{
  						if (note.note && note.lastUpdated)
  						{
  							note.lastUpdated = note.lastUpdated.substring(0, note.lastUpdated.indexOf('GMT') - 1);
  							$('ul#siteationsFeed').append('<li><strong>' + prettyDate(note.lastUpdated) + '</strong>' + note.note + '</li>');		
  						}
  					});
  			} 
  		});
  		
  		setTimeout(getLatest, 1000);
		};
		
		getLatest();
		
		$.ajax({
			url: 'http://sitations.com/count/',
			dataType: 'json',
			success: function (data)
			{
				$('span#sitationCount').html(data.count);
			} 
		});

	});
</script>

<!--[if IE]>
<link rel="stylesheet" type="text/css" media="screen" href="/css/iehax.css" title="iehax" />
<![endif]-->

<!-- ICONS -->
<link rel="shortcut icon" href="/img/favicon.jpg" type="image/x-icon" />
<link rel="icon" href="/img/favicon.jpg" type="image/x-icon" /> 
</head>
<body>
<!-- Note to self: clean this shit up for launch -->
	<div id="wrapper">
		<div id="header">
			
			<a href="http://nodeknockout.com/teams/nodebodies" id="node-knockout">Vote for Us</a>		
			<a id="bookmarklet" href="javascript:%_BOOTSTRAP_%">Sitations</a>
		</div>
		<div id="main">
			<p class="instructions">To use, simply drag our logo to your Bookmarks toolbar <a href="#" id="helpLink">?</a></p>
			
			<div id="installation_instructions">
			<h3>How to use Sitations</h3>
			<ol>
				<li>1. Make sure your bookmarks toolbar is visible.</li>
				<li class="indent">Safari: 'View' > 'Show Bookmarks Bar'</li>
				<li class="indent">Chrome: 'View' > 'Always Show Bookmarks Bar'</li>
				<li class="indent">Safari: 'View' > 'Toolbars' >  'Bookmarks Toolbar'</li>
				<li>2. Drag the Sitations logo into your bookmarks bar.</li>
				<li>3. Click the bookmark to use.</li>
			</ol>
			</div>
			
			<img src="/img/mainbg.gif" id="noteMarker" alt="" />
			<div id="hero-main">
				<h2>Create, edit, and share live website annotations.</h2>
				<h3>If you're preparing a design proposal or just leaving yourself a reminder, Sitations is the best way to iterate on interactive prototypes and websites.</h3>
				</div>
			
		<div id="liveFeed">
		<div class="column">
				<h4>Sitations Live Feed</h4>

		<p>Working alone or collaborating with others, Sitations is efficient and easy. The stuff to the right is a list of notes being added to this website – in real-time.</p>
		<span id="sitationCount">Checking...</span>
		<p class="subtext"># of sitations</p>
		</div>
		<div id="feedUl">
<ul id="siteationsFeed">
</ul>
<div id="feedOverlay"></div>
</div>
		</div>
		</div>
		<p id="footer">Created by nodebodies</p>
	</div>
</body>

</html>